@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';
:root {
    --background: #f3f3f3;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Kanit', sans-serif;
}
.dark .icon-subject {
    filter: grayscale(1) invert(1);
}

.countdown-span {
    display: block;
    font-size: 3.5em;
    margin-bottom: 0px;
    margin:auto;
    text-transform: uppercase;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
